* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.defaultPageWrapper {
  padding: 36px 64px;
  background-color: #272528;
  min-height: 100vh;
}

.footerText {
  color: rgba(255, 255, 255, 0.81);
}
