.block {
  width: 195px;
  height: 82px;
  /* margin-right: 0;
  margin-left: auto; */
}

.color {
  background-color: #99E497;
}

.rhombus {
  background-color: inherit;
}

.input {
  width: 100%;
  border: none;
  outline: none;
}