.block {
  width: 195px;
}

.color {
  background-color: #99e497;
}

.rhombus {
  background-color: inherit;
}

.input {
  width: 34px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #fff !important;
}

.nameActionWrapper {
  display: flex;
  justify-content: space-between;
}

.dropdowSelectInput {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.descriptionTitle {
  font-size: 14pt;
  margin-bottom: 5px;
  color: #fff;
}

.description {
  font-size: 11pt;
  color: #fff;
}

