.block {
  width: 241px;
}

.color {
  background-color: #97A8E4;
}

.rhombus {
  background-color: inherit;
}

.descriptionTitle {
  font-size: 14pt;
  margin-bottom: 5px;
  color: #fff;
}

.description {
  font-size: 11pt;
  color: #fff;
}

.input {
  width: 34px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #fff !important;
}

.content {
  display: flex;
  column-gap: 8px;
  align-items: center;
}