.button {
  padding: 8px 16px;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  border-radius: 8px;

  font-family: Montserrat Medium;
  font-size: 14px;
}

.disabled.disabled {
  background-color: #49474a;
  color: #7c7b7c;
}
