.block {
  width: 241px;
}

.color {
  background-color: #e2e497;
}

.rhombus {
  background-color: inherit;
}

.nameActionWrapper {
  display: flex;
  justify-content: space-between;
}

.dropdowSelectInput {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.descriptionTitle {
  font-size: 14pt;
  margin-bottom: 5px;
  color: #fff;
}

.description {
  font-size: 11pt;
  color: #fff;
}
