.block {
  width: 241px;
  height: 82px;
}

.color {
  background-color: #e2e497;
}

.rhombus {
  background-color: inherit;
}

.nameActionWrapper {
  display: flex;
  padding: 12px 10px;
  justify-content: space-between;
}

.dropdownSelect {
  padding: 0 12px;
}

.dropdowSelectInput {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
