.popupRoot {
  background-color: rgba(0, 0, 0, 0.671);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popupBody {
  background-color: #383538;

  border-radius: 16px;

  color: #fff;
}

