.root {
  width: 100%;
  background-color: #383538;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  color: #fff;

  border-radius: 8px;

  cursor: pointer;
  transition: 0.3s;
}

.root:hover {
  background-color: #1e191e;
}

.name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  font-family: Montserrat ExtraBold;
  font-size: 16px;
}

.desciption {
  font-family: Montserrat Medium;
  font-size: 14px;

  max-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ratingStar {
  fill: #fd7557;
}

.notRatingStar {
  fill: #a9a9a9;
}

.rating {
  display: flex;
  gap: 8px;
}

.passedIcon {
  width: 16px;
  height: 16px;

  background-color: #56fe7a;
}
