.select {
  display: block;
  color: #161417;
  padding: 8px 12px;
  box-sizing: border-box;
  margin: 0;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('../../static/arrow.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 5px top 50%, 0 0;
  background-size: 12px 20px, 100%;
  --select-border: #777;
  --select-focus: red;
  --select-arrow: yellow;
  width: 100px;
  height: 32px;
}
.select::-ms-expand {
  display: none;
}
.select:hover {
  background-color: #fff;
}
.select:focus {
  border-color: #fff;
  color: #222;
  outline: none;
  border-radius: 9px;
}
.select option {
  font-weight: normal;
  border-radius: 8px;
}
