.drag {
  display: block;
  visibility: hidden;
  position: absolute;
  background-color: #454246;
  padding: 40px 40px;
  border-radius: 16px;
  left: 551px;
  bottom: 1px;
  z-index: 1;
}

.drag2 {
  display: block;
  visibility: visible;
  animation: slidegdz 1s;
}

@keyframes slidegdz {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.draggableItemWrapperActive {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.draggableWrapper {
  position: relative;
  width: 536px;
  height: fit-content;
  background-color: #383538;
  padding: 48px 16px 32px;
  border-radius: 8px 8px 0 0;
  height: calc(100vh - 300px);
}

.draggableItemWrapper {
  margin: 0 4px;
}

.draggableItemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.draggableItemWrapperContent {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.itemIndex {
  color: #fff;
  width: 10px;
}

.addBlocksButton {
  margin: 0 0 0 52px !important;
  background-color: #fa8e2c !important;
  bottom: 16px;
}

.codeBlocksWrapper {
  overflow-y: auto;
  height: calc(100vh - 350px);
}

.actionsButtonsWrapper {
  background-color: #383538;
  border-radius: 0 0 8px 8px;
  padding: 16px 0 40px 0;
}

.iconInAddBlock {
  margin-left: auto;
}
