.playgroundPageContainer {
  display: flex;
  justify-content: space-between;
}

.dropdownWrapper {
  width: 536px;
}

.body {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.rightBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.headerButtons {
  background-color: #fa8e2c;
}

.headerText {
  font-family: Montserrat Black;
  font-size: 32px;
  color: #fff;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 16px;
}

.headerButtonsWrapper {
  display: flex;
  gap: 16px;
}

.mapsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
