.playgroundPageContainer {
  display: flex;
  justify-content: space-between;
}

.dropdownWrapper {
  width: 536px;
}

.body {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.rightBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.headerButtons {
  background-color: #fa8e2c;
}

.headerText {
  font-family: Montserrat Black;
  font-size: 32px;
  color: #fff;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 16px;
}

.headerButtonsWrapper {
  display: flex;
  gap: 16px;
}

.mapsList {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

.searchInput {
  /* width: 397px; */
  background-color: #383538;
  padding: 6px 8px;

  color: #fff;
}

.activeMap {
  outline: 2px solid #4ed5fe;
}

.filterButton {
  background-color: #383538;
  width: 300px;
  padding: 4px 0;
  color: #7c7b7c;
}

.filterButtonActive {
  background-color: #e3e3e3;
  color: #313131;
}

.filters {
  display: flex;
  justify-content: space-between;
}
