.page {
  height: 100%;
  background-image: url('../../static/img/code-blocks.png');
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 300px;
  background-position-y: 120px;

  box-sizing: border-box;
  padding-top: 150px;
}

.title {
  font-family: Montserrat ExtraBold;
  max-width: 768px;
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
}

.description {
  font-family: Montserrat Regular;
  margin-top: 16px;
  max-width: 515px;
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;

  color: #ffffff;
}

.buttonStart {
  font-family: Montserrat Medium;
  margin-top: 32px;
  color: #000;
  background-color: #D576E1;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  transition: .3s;
}

.buttonStart:hover {
  background-color: #FA17FF;
}
